$OtherLayers: "#placeStoneLayer", "#botScanLayer", "#scoredNodeHighlightLayer";
$AllSides: left, right, top, bottom;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background: #e0e0e0;

  #intro {
    z-index: 2147483647;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    h1 {
      display: grid;
      place-items: center;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 25%;
      font-size: 2.5rem;
    }

    h3 {
      display: grid;
      place-items: center;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 15%;
    }

    h2 {
      display: grid;
      place-items: center;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 15%;
    }

    table {
      width: 100%;
      height: 25%;
      tr {
        th {
          input[type="radio"] {
            width: 100px;
          }
        }
      }
    }

    button {
      padding: 20px 60px;
      background: transparent;
      border: 1px solid red;
    }
  }

  //---------------------------------

  .game_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .card {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    #boardUILayer {
      border-radius: 13px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    #{$OtherLayers} {
      position: absolute;
      margin: auto;
      @each $Side in $AllSides {
        #{$Side}: 0;
      }
    }
  }
}
