<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Gomoku-AI</title>
</head>
<body>
    <form id="menu" action="/game" method="POST">
        <h1 id="title">Gomoku</h1>
        <h6>by Brian Yoonseo Lee</h6>
        <label for="white">White</label>
        <input type="radio" name="color" id="white" value="#E5DCC5" required>
        <label for="black">Black</label>
        <input type="radio" name="color" id="black" value="#2D2D2A" required>
        <button type="submit">Play Game</button>
    </form>
</body>
</html>